body {
  margin: 0;
  padding: 2rem;
  color-scheme: dark;
  background-color: #111111;
  color: #fefefe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
